@import "tailwindcss";


@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-background: var(--color-background);
    --color-background-dark: var(--color-background-dark);
  --color-surface: var(--color-surface);
  --color-title: var(--color-text);
  --color-subtitle: var(--color-subtitle);
  --color-border: var(--color-border);
  --color-text: var(--color-text);
  --color-text-dark: var(--color-text-dark);
  --color-text-white: var(--color-text-white);

}

:root {
  --color-primary: #535353; 
  --color-background-dark: #1c1c1c;
   --color-background: #ffffff;
  --color-text: #656565;
   --color-text-white: #ffffff;
  --color-subtitle: #9f9f9f;
  --color-text-dark: #000000;
  --color-tick: #4d9bd2;
  --color-border: #cccccc;
}



/* Mode sombre */
[data-theme="x-dark"] {
  --color-primary: #000000; 
  --color-background: #1a1a1a;
  --color-text-Light: #cccccc;
  --color-text: #ffffff;
  --color-tick: #4d9bd2;
  --color-border: #333333;

}

